/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    font-family: "Poppins", sans-serif;
}
.status{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider{
    position: relative;
    width: 60px;
    height: 30px;
    margin-bottom: 22px;
    margin-right: 20px;
    border-radius: 34px;
    -webkit-appearance: none;
    background: lightgray;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    /* transition: 0.5s; */
}

.slider:checked{
    background: #ff278c;
}

.slider:before{
    content: '';
    position: absolute;
    cursor: pointer;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background: white;
    transform: scale(1.1);
    box-sizing: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
    border: 1px solid lightgray;
}

input:checked[type="checkbox"]:before{ 
    left: 30px;
}